<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>クイズ投稿ページ</title>
  </head>
  <body>
    <h1>クイズ投稿ページ</h1>
    <button><a href="{% url 'home' %}">ホームへ戻る</a></button>

    <form action="{% url 'makequiz' %}" method="POST" name="form">
      {% csrf_token %}
      <!-- ジャンル選択 -->
      <h3>クイズのジャンルを選択してください</h3>
      <div>
        <input type="checkbox" id="genre1" name="category" value="Science" />
        <label for="genre1">科学</label>
      </div>
      <div>
        <input type="checkbox" id="genre2" name="category" value="History" />
        <label for="genre2">歴史</label>
      </div>
      <div>
        <input type="checkbox" id="genre3" name="category" value="Sports" />
        <label for="genre3">スポーツ</label>
      </div>
      <div>
        <input type="checkbox" id="genre4" name="category" value="Math" />
        <label for="genre4">数学</label>
      </div>
      <div>
        <input type="checkbox" id="genre5" name="category" value="Comedy" />
        <label for="genre5">お笑い</label>
      </div>
      <div>
        <input type="checkbox" id="genre6" name="category" value="Games" />
        <label for="genre6">ゲーム</label>
      </div>
      <div>
        <input type="checkbox" id="genre7" name="category" value="Education" />
        <label for="genre7">義務教育</label>
      </div>
      <div>
        <input type="checkbox" id="genre8" name="category" value="Other" />
        <label for="genre8">その他</label>
      </div>

      <!-- 選択肢入力 -->
      <h3>タイトルを記入してください</h3>
      <textarea
        name="title"
        rows="1"
        cols="15"
        placeholder="タイトル"
      ></textarea>

      <!-- 本文入力 -->
      <h3>本文を記入してください</h3>
      <textarea
        name="content"
        rows="5"
        cols="40"
        placeholder="クイズの本文を入力してください"
      ></textarea>

      <!-- 選択肢入力 -->
      <h3>クイズの選択肢を記入してください</h3>
      <textarea
        name="correct_answer"
        rows="1"
        cols="15"
        placeholder="正解の選択肢"
      ></textarea>
      <textarea
        name="incorrect1"
        rows="1"
        cols="15"
        placeholder="不正解の選択肢1"
      ></textarea>
      <textarea
        name="incorrect2"
        rows="1"
        cols="15"
        placeholder="不正解の選択肢2"
      ></textarea>
      <textarea
        name="incorrect3"
        rows="1"
        cols="15"
        placeholder="不正解の選択肢3"
      ></textarea>

      <!-- 解説 -->
      <h3>クイズの解説があれば記入してください</h3>
      <textarea
        name="explanation"
        rows="5"
        cols="40"
        placeholder="問題の解説"
      ></textarea>

      <br />

      <!-- 送信ボタン -->
      <button type="submit">投稿する</button>
    </form>

    <h2>仮表示</h2>
    {% for quiz in quiz_result %}
    <p>{{quiz.category}}</p>
    <p>{{quiz.title}}</p>
    <p>{{quiz.content}}</p>
    <p>{{quiz.correct_answer}}</p>
    <p>{{quiz.incorrect1}}</p>
    <p>{{quiz.incorrect2}}</p>
    <p>{{quiz.incorrect3}}</p>
    <p>{{quiz.explanation}}</p>
    {% endfor %}
  </body>
</html>
