{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>クイズ回答</h1>
    <button><a href="{% url 'home' %}">ホームへ戻る</a></button>
    <p>{{quiz.category}}</p>
    <h1>{{quiz.title}}</h1>
    <p>{{quiz.description}}</p>
    <h2>問題：</h2>
    <h4>{{quiz.content}}</h4>
    <h2>回答</h2>
    <h4>ここに四つ選択肢がランダムでシャッフルされた順番で表示されます</h4>
    <button id="correct_answer">{{quiz.correct_answer}}</button>
    <button id="incorrect1">{{quiz.incorrect1}}</button>
    <button id="incorrect2">{{quiz.incorrect2}}</button>
    <button id="incorrect3">{{quiz.incorrect3}}</button>

    <h4 id="result"></h4>
    <p>解説</p>
    <p id="explanation" class="hidden">{{quiz.explanation}}</p>
    <script
      type="text/javascript"
      src="{% static 'quiz/js/quiz.js' %}"
    ></script>
  </body>
</html>
