{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Quiz回答</title>
  </head>
  <body>
    <div class="container">
      <h1>クイズ回答</h1>
      <div class="theme_category">
        <h1>{{ category }}の問題</h1>
      </div>
      <button><a href="{% url 'home' %}">ホームへ戻る</a></button>
      <!-- <p id="quiz-category"></p> -->
      <h1 id="quiz-title"></h1>
      <p id="quiz-description"></p>

      <div id="wait_container">
        <h2>対戦相手を待っています...</h2>
      </div>
      <div id="quiz_container" class="hidden">
        <div class="profile">
          <h3>自分：<span id="myName"></span></h3>
          <h3>相手：<span id="oppName"></span></h3>
        </div>

        <h2>問題：</h2>
        <h4 id="quiz-content"></h4>
        <div>
          <button class="selection" id="correct_answer"></button>
          <button class="selection" id="incorrect1"></button>
          <button class="selection" id="incorrect2"></button>
          <button class="selection" id="incorrect3"></button>
        </div>

        <div>
          <h2>対戦状況</h2>
          <p>自分の回答: <span id="my_answer"></span></p>
          <p>自分の回答: <span id="my_judge"></span></p>
          <p>相手の回答: <span id="opponent_answer"></span></p>
          <p>相手の回答: <span id="opponent_judge"></span></p>
          <p>自分のスコア: <span id="my_score">0</span></p>
          <p>相手のスコア: <span id="opponent_score">0</span></p>
        </div>

        <div>
          <p>解説</p>
          <p id="explanation" class="hidden"></p>
        </div>
      </div>
    </div>

    <!-- {{ quiz.id|json_script:"quiz_id" }} -->
    <!-- <script
      type="text/javascript"
      src="{% static 'quiz/js/quiz.js' %}"
    ></script> -->
    <script>
      const category = "{{ category|escapejs }}"; // テンプレートから受け取ったカテゴリをエスケープして安全にJavaScript変数へ
      const DATA_URL = `/quiz/get_data/${category}/`; // URLを構築
      console.log("Category:", category); // 確認用
      console.log("DATA_URL:", DATA_URL); // 確認用
    </script>

    <script
      type="text/javascript"
      src="{% static 'quiz/js/match_ws.js' %}"
    ></script>
  </body>
</html>
