<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズ投稿ページ</title>
</head>
<body>
    <h1>クイズ投稿ページ</h1>

    <form action="/submit-quiz" method="post">
        <!-- 本文入力 -->
        <h3>本文を記入してください</h3>
        <textarea name="quizContent" rows="5" cols="40" placeholder="クイズの本文を入力してください"></textarea>
        <h3>クイズの選択肢を記入してください</h3>
        <textarea name="quizContent" rows="1" cols="15" placeholder="正解の選択肢"></textarea>
        <textarea name="quizContent" rows="1" cols="15" placeholder="不正解の選択肢"></textarea>
        <textarea name="quizContent" rows="1" cols="15" placeholder="不正解の選択肢"></textarea>
        <textarea name="quizContent" rows="1" cols="15" placeholder="不正解の選択肢"></textarea>
        <h3>クイズの解説があれば記入してください。なければ空白のままにしてください。</h3>
        <textarea name="quizContent" rows="5" cols="40" placeholder="問題の検索"></textarea>

    
        <!-- ジャンル選択 -->
        <h3>クイズのジャンルを選択してください</h3>
        <div>
            <input type="checkbox" id="genre1" name="genre" value="science">
            <label for="genre1">科学</label>
        </div>
        <div>
            <input type="checkbox" id="genre2" name="genre" value="history">
            <label for="genre2">歴史</label>
        </div>
        <div>
            <input type="checkbox" id="genre3" name="genre" value="sports">
            <label for="genre3">スポーツ</label>
        </div>
        <div>
            <input type="checkbox" id="genre4" name="genre" value="entertainment">
            <label for="genre4">数学</label>
        </div>
        <div>
            <input type="checkbox" id="genre5" name="genre" value="entertainment">
            <label for="genre4">お笑い</label>
        </div>
        <div>
            <input type="checkbox" id="genre6" name="genre" value="entertainment">
            <label for="genre4">ゲーム</label>
        </div>
        <div>
            <input type="checkbox" id="genre7" name="genre" value="entertainment">
            <label for="genre4">義務教育</label>
        </div>
        <div>
            <input type="checkbox" id="genre8" name="genre" value="entertainment">
            <label for="genre4">その他</label>
        </div>

        <br>

        <!-- 送信ボタン -->
        <button type="submit">投稿する</button>
    </form>
</body>
</html>
